[Unit]
Description = "Backend sidecar proxy"

# The service requires the VM's network
# to be configured. More info here: https://www.freedesktop.org/wiki/Software/systemd/NetworkTarget/
Requires=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/bin/consul connect envoy -sidecar-for backend -admin-bind 127.0.0.1:19001
Restart=on-failure

# The Install section configures this service to start automatically if the VM reboots.
[Install]
WantedBy=multi-user.target

